


@import url(/styles/header.css);
@import url(/styles/footer.css);
@import url(/styles/contato.css);
@import url(/styles/mapa.css);
@import url(/styles/principal.css);


:root {
    /* cores personalisadas */
    --cor-principal: #74e3dd;
    --cor-escuro: #334b49;
    --cor-secundaria: #95b1ae;
    --cor-azulclaro: #afc5ff;
    --cor-azulescuro: #7890cb;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.banner {
    width: 100%;
}


/* SELETORES AVANÇADOS PARA SEREM USADOS

main p {
    background: red;
}

main > p {
    background: red; 
}

img + p { 
    background: blue;
}

img ~ p {
    background: yellow
} 

.principal p:not(#missao) {
    background: orange;
}

*/