/* Estilização para telas menores */
.beneficios {
    padding: 3em 0;
    background: var(--cor-secundaria);
}

.conteudo-beneficios {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.lista-beneficios {
    list-style: none;
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "✓";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 var(--cor-preto);
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
    width: auto;
    margin: 2em auto;
}

@media screen and (min-width: 480px) {
    .conteudo-beneficios { 
        flex-direction: row;
        gap: 20px;
        margin: 0 auto;
    }

    .imagembeneficios {
        width: 70%;
    }
}

@media screen and (min-width: 1080px) {
    .conteudo-beneficios {
       width: 640px;
    }
    .video {
        width: 560px;
    }
}