footer {
    text-align: center;
    background: #ffffff;
    padding: 0 0;
}

.logofooter {
    width: 15%;
}

.copyright {
    color: var(--cor-branco);
    font-size: 13px;
    margin: 10px 0 0;
}