/* Estilização para telas menores */
header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: auto;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.header-logo {
    width: 90px;
    margin-right: 10px;
}

#nome_empresa {
    display: none;
}

nav {
    top: 110px;
    right: 0;
}

nav ul {
        display: grid;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: var(--cor-preto);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: var(--cor-principal);
    text-decoration: underline;
}

/* Estilização para Tablets (telas médias)    */
@media screen and (min-width: 480px) {
    #nome_empresa {
        display: flex;
    }    
}

@media screen and (min-width: 645px) {
    nav ul {
        display: inline;
    }
    
}
/* Estilização para Desktop (telas maiores)   */
@media screen and (min-width: 1080px) {
    .caixa {
        width: 940px;
    }
}
